<html>
	<head>
		<title>Sync with Skyrim Complete!</title>
	</head>
	<body>
		<div align="center" style="width:100%;">
		<div align="center" style="width:720px;display:inline-block;">
			<h1>Sync with Skyrim Complete!</h1>

			<img src="http://i.imgur.com/E8fyNAu.jpg" alt="Skyrim Image" style="width:720px;height:450px;">

<!-- 		Image Sizes:	
			1920 1200
			800 500
-->
			<p>
				<b>{{ profile.get('name') }}</b><br>
			</p>
			
			<p>
				<a href="/logout">Logout & launch to Skyrim</a>
			</p>
		</div>
		</div>
	</body>
</html>